.tasks-container {
  margin: 1rem 0 4rem 0;

  h2 {
    margin-bottom: 1rem;

    .sub {
      font-size: 0.8rem;
      display: block;
      margin-top: 0.5rem;

      svg {
        margin-right: 0.35rem;
      }
    }
  }
}

.sticky-input {
  margin-left: 16rem;
  margin-right: 0;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;

  @media (max-width: 768px) { 
    margin-left: 0;
  }

  > .Col {
    height: 54px;
  }

  .input-group {
    background-color: #fff;
    margin-left: 1px;
    padding: 8px 0;
  }
}

.task-list {
  .task-item {
    > .row  {
      align-items: center; 
    
      > [class^="col-"]:first-child {
        max-width: 3.5rem;
      }
      
      .custom-control {
        min-height: 1.75rem;

        .custom-control-label::before, 
        .custom-control-label::after {
          width: 1.25rem;
          height: 1.25rem;
        }
      }
    }

    &.completed {
      .title {
        text-decoration: line-through;
      }
    }

    .actions svg, .custom-control-label:after {
      cursor: pointer;
    }

    .task-info {
      small {
        [class*="fa-"] {
          margin-right: 0.15rem;
        }
      }

      small:before{
          content: "•";
          margin: 0 0.5rem;
      }

      small:first-child:before{
          content: "";
          margin: 0;
      }
    }
  }

  .task-enter {
    opacity: 0;
  }
  
  .task-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }
  
  .task-exit {
    opacity: 1;
  }
  
  .task-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in;
  }
}