.project-enter {
  opacity: 0;
}

.project-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.project-exit {
  opacity: 1;
}

.project-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}

.progress {
  height: 0.1rem;
  border-radius: 0;
  background: none;
}